$BallBlue:rgba(0, 153, 204, 0.9);  // BallBlue (0)
$green: rgba(0, 204, 0, 0.9);         // green (1)
$yellow: rgba(255, 255, 0, 0.9);       // yellow (2)
$orange: rgba(255, 153, 0, 0.9);       // orange (3)
$red: rgba(255, 51, 51, 0.9);       // red (4)
$blue: rgba(102, 102, 255, 0.9);     // blue (5)
$DullLavender: rgba(30, 30, 255, 0.4);       // DullLavender (6)
$JeansBlue: rgba(0, 135, 245, 0.4);       // JeansBlue (7)
$GreenThumb: rgba(50, 210, 50, 0.4);       // GreenThumb (8)
$Honeysuckle: rgba(255, 240, 10, 0.4);       // Honeysuckle (9)
$PeachOrange: rgba(255, 140, 0, 0.4);       // PeachOrange (10)
$PinkRose: rgba(225, 20, 50, 0.4);       // PinkRose (11)
$PaleViolet: rgba(200, 50, 255, 0.4);       // PaleViolet (12)
$PowderAsh: rgba(128, 128, 128, 0.4);       // PowderAsh (13)
$DustyGrey: rgba(0, 0, 0, 0.4);       // DustyGrey (14)
$BlueLotus: rgba(0, 0, 255, 0.6);       // BlueLotus (15)
$Tomato: rgba(255, 0, 0, 0.6);       // Tomato (16)
$LightBrightGreen: rgba(0, 255, 0, 0.6);       // LightBrightGreen (17)
$PowderBlue: rgba(75, 192, 192, 0.4);       // PowderBlue (18)
$Crimson: rgb(220, 20, 60);     // Crimson (19)
$HotPink: rgb(255, 105, 180);     // HotPink (20)
$MediumVioletRed: rgb(199, 21, 133);     // MediumVioletRed (21)
$OrangeRed: rgb(255, 69, 0);     // OrangeRed (22)
$DarkOrange: rgb(255, 140, 0);     // DarkOrange (23)
$Gold: rgb(255, 215, 0);     // Gold (24)
$Yellow: rgb(255, 255, 0);     // Yellow (25)
$Violet: rgb(238, 130, 238);     // Violet (26)
$MediumOrchid: rgb(186, 85, 211);     // MediumOrchid (27)
$DarkViolet: rgb(148, 0, 211);     // DarkViolet (28)
$Purple: rgb(128, 0, 128);     // Purple (29)
$GreenYellow: rgb(173, 255, 47);     // GreenYellow (30)
$LimeGreen: rgb(50, 205, 50);     // LimeGreen (31)
$SpringGreen: rgb(0, 255, 127);     // SpringGreen (32)
$LightSeaGreen: rgb(32, 178, 170);     // LightSeaGreen (33)
$DarkTurquoise: rgb(0, 206, 209);     // DarkTurquoise (34)
$DeepSkyBlue: rgb(0, 191, 255);     // DeepSkyBlue (35)
$DodgerBlue: rgb(30, 144, 255);     // DodgerBlue (36)
$DarkGoldenrod: rgb(184, 134, 11);     // DarkGoldenrod (37)
$Silver: rgb(192, 192, 192);     // Silver (38)
$Aquamarine: rgb(127, 255, 212);     // Aquamarine (39)
$turquoise: rgba(0, 204, 204, 0.9);       // turquoise (40)